.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 16px;
}

.auth {
    display: flex;
    flex-direction: column;
    max-width: 750px;
    width: 50%;
}

.form_logo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-width: 100%;
}

.form_logo label {
    color: black;
    font-size: 24px;
    font-weight: 500;
    font-style: italic;
    margin-left: 6px;
}

.chek label {
    color: rgb(53, 44, 49);
    font-size: 15px;
    font-style: italic;
}

.chek {
    margin-top: -18px;
    align-items: end;
    display: flex;
    width: 100%;
    gap: 5px;
}

.link_register {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(53, 44, 49);
    margin-top: 20px;
    margin-bottom: 20px;
}

.register {
    text-decoration: none;

    color: rgb(181, 6, 99);
}

.error{
    background: rgb(226, 194, 194);
    border: #f157a4 2px solid;
    border-radius: 15px;
    color: black;
    padding: 10px 30px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
}